.popup__save-button_inactive {
    margin-top: 35px;
    height: 50.15px;
    left: 107px;
    top: 293px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 767px) {
    .popup__save-button_inactive {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}



