.cards__like-button{
    transition: opacity 0.5s ease-in-out;
    border: none;
    background-image: url(../../../image/like.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 22px;
    height: 19px;
    padding: 0;
}

.cards__like-button:hover {
    opacity: 0.5;
}


.cards__like-button_active{
    background-image: url(../../../image/Union.png);
}